#Heading1
{
 color: coral;
 text-align: center;
 text-shadow: 2px 2px rgba(0, 0, 0, 0.314);
 font-family: sans-serif;
 margin: 0;
 display: block;
}

#Body{
    margin:0;
    background-color: lightgray;
    font-family: sans-serif;
}

hr{
color: rgba(169, 169, 169, 0.459);
}


a:visited{
    color: purple
}
a:hover{
    color: blue
}
a:active{
    color: violet
}
a:link{
    color: darkblue
}

#Mans{
    width:64px;
    height:64px;
}

.body{
    margin: 0;
    background-color: lightgray;
}

#Sortby{
    font-family: sans-serif;
    background-color: darkgrey;
    right: 50%;
    transform:translateX(50%) ;
}
#Search{
    font-family: sans-serif;
    background-color: darkgrey;
    right: 40%;
    transform: translateX(40%);
    
}
#Filter{
    font-family: sans-serif;
    background-color: darkgrey;
    right: 30%;
    transform: translateX(30%);
    
}

.container
{
    margin:0;
    padding: 10px;
    background-color: darkgray;
    display: block;
}

.Banner{
    margin:0 auto;
}

#BannerC{
    margin:0 auto;
}


#Account:hover{color: black;}
#Account{
    color: coral;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: sans-serif; 
}

#About:hover{color: black;}
#About{
    color: coral;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: sans-serif;   
}

#View:hover{color: black;}
#View{
    
    color: coral;
    -webkit-text-stroke: 0.3px black;
    text-shadow: 1px 1px black;
    text-align: center;
    font-family: sans-serif;  
}

#Div1{
    position: relative;;
}


